

@font-face {
    font-family: 'Proxima Nova';
    src: url('/path/to/proxima-nova.woff2') format('woff2'),
         url('/path/to/proxima-nova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  *{
    font-family: 'Proxima Nova', sans-serif;
}
    
  
h1 {
    
    font-style: italic;
}
.insta{
    display: flex;
    width: 50%;
    justify-content: center;
}
.header{
    border-bottom: 1px solid #dedcdc;
    
}
.box {
    height: 520px;
    width: 390px;
    border: 1px solid #dedcdc;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.box-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

}

.heading {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: #262626;
   
}

.login_link_btn {
    background-color: rgb(193, 230, 245);
    width: 313px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;

}
.or{
    color: #737373;
    font-size: 12px;
    font-weight: 600;
}
.para {
    color: #737373;
    font-weight: 400;
    width: 80%;
    font-size: 14px;
    line-height: 1.4;
    margin-top: -15px;
}

.text {
    width: 290px;
    height: 28px;
    padding: 4px 9px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    border: 1px solid   #dedcdc;
    margin-top: -14px;

}
input::placeholder {
    color:  #bbb9b9;
}
.lock_img{
    height: 158px;
    width: 220px;
}

.login_btn {
    height: 44px;
    font-weight: 600;
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(250, 250, 250);
    margin-top:54px;
}

.acnt_btn,
.login_btn {
    color: #262626;
    font-weight: 600;

}

.acnt_btn {
    border: none;
    background-color: white;
}

.reset-btn {
    border: none;
    background-color: white;
    color: #00376B;
    font-size: 12px;
}
.first_footer,.second_footer{
    display: flex;
   row-gap: 15px ;
   column-gap: 15px;
    justify-content: center;
    color: #737373;
    font-size: 12px;
  
}
.second_footer{
    padding-top: 20px;
}
.lang{
    border: none;
    color: #737373;
    font-size: 12px;
}